apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingest-pulse
  namespace: nes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingest-pulse
  template:
    metadata:
      labels:
        app: ingest-pulse
    spec:
      hostname: ingest-pulse
      containers:
        - name: worker
          image: nebulastream/nes-executable-image:latest
          command: ["nesWorker"]
          args: ["--configPath=/config/ingest-pulse.yaml"]
          volumeMounts:
            - name: nes-config
              mountPath: /config
      volumes:
        - name: nes-config
          configMap:
            name: nes-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingest-bloodpressure
  namespace: nes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingest-bloodpressure
  template:
    metadata:
      labels:
        app: ingest-bloodpressure
    spec:
      hostname: ingest-bloodpressure
      containers:
        - name: worker
          image: nebulastream/nes-executable-image:latest
          command: ["nesWorker"]
          args: ["--configPath=/config/ingest-bloodpressure.yaml"]
          volumeMounts:
            - name: nes-config
              mountPath: /config
      volumes:
        - name: nes-config
          configMap:
            name: nes-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingest-spo2
  namespace: nes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingest-spo2
  template:
    metadata:
      labels:
        app: ingest-spo2
    spec:
      hostname: ingest-spo2
      containers:
        - name: worker
          image: nebulastream/nes-executable-image:latest
          command: ["nesWorker"]
          args: ["--configPath=/config/ingest-spo2.yaml"]
          volumeMounts:
            - name: nes-config
              mountPath: /config
      volumes:
        - name: nes-config
          configMap:
            name: nes-config