apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  namespace: nes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
        - name: ui
          image: nebulastream/nes-ui-image:latest
          ports:
            - containerPort: 9000
---
apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: nes
spec:
  selector:
    app: ui
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      nodePort: 30000
  type: NodePort

